

NET "DVIscl" LOC = "U27" | IOSTANDARD = LVCMOS18;
NET "DVIsda" LOC = "T29" | IOSTANDARD = LVCMOS18;

NET "DVIdata<0>" LOC = "AB8" | IOSTANDARD = LVCMOS33;
NET "DVIdata<1>" LOC = "AC8" | IOSTANDARD = LVCMOS33;
NET "DVIdata<2>" LOC = "AN12" | IOSTANDARD = LVCMOS33;
NET "DVIdata<3>" LOC = "AP12" | IOSTANDARD = LVCMOS33;
NET "DVIdata<4>" LOC = "AA9" | IOSTANDARD = LVCMOS33;
NET "DVIdata<5>" LOC = "AA8" | IOSTANDARD = LVCMOS33;
NET "DVIdata<6>" LOC = "AM13" | IOSTANDARD = LVCMOS33;
NET "DVIdata<7>" LOC = "AN13" | IOSTANDARD = LVCMOS33;
NET "DVIdata<8>" LOC = "AA10" | IOSTANDARD = LVCMOS33;
NET "DVIdata<9>" LOC = "AB10" | IOSTANDARD = LVCMOS33;
NET "DVIdata<10>" LOC = "AP14" | IOSTANDARD =LVCMOS33;
NET "DVIdata<11>" LOC = "AN14" | IOSTANDARD = LVCMOS33;
NET "DVIclkP" LOC = "AL11" | IOSTANDARD = LVCMOS33;
NET "DVIclkN" LOC = "AL10" | IOSTANDARD = LVCMOS33;
NET "DVIhsync" LOC = "AM12" | IOSTANDARD = LVCMOS33;
NET "DVIvsync" LOC = "AM11" | IOSTANDARD = LVCMOS33;
NET "DVIde" LOC = "AE8" | IOSTANDARD = LVCMOS33;
NET "DVIresetB" LOC = "AK6" | IOSTANDARD = LVCMOS33;
