_ngo/
_xmsgs/
RISC_xdb/
xst/
device_usage_statistics.html
RISC.gise
RISC.ise
RISC.ntrc_log
RISCtop_cs.*
RISCtop_guide.ncd
RISCtop_map.*
RISCtop_ngdbuild.xrpt
RISCtop_pad.csv
RISCtop_pad.txt
RISCtop_par.xrpt
RISCtop_prev_built.ngd
RISCtop_summary.html
RISCtop_summary.xml
RISCtop_usage.xml
RISCtop_xst.xrpt
RISCtop.bgn
RISCtop.bit
RISCtop.bld
RISCtop.cmd_log
RISCtop.drc
RISCtop.lso
RISCtop.ncd
RISCtop.ngc
RISCtop.ngd
RISCtop.ngr
RISCtop.pad
RISCtop.par
RISCtop.pcf
RISCtop.prj
RISCtop.ptwx
RISCtop.stx
RISCtop.syr
RISCtop.twr
RISCtop.twx
RISCtop.unroutes
RISCtop.ut
RISCtop.xpi
RISCtop.xst
