
NET "GMII_RX_CLK_0" TNM_NET =  "GMII_RX_CLK_0";
TIMESPEC "TS_GMII_RX_CLK_0" = PERIOD "GMII_RX_CLK_0" 8.0 ns HIGH 50%;

INST "*RXdataDelayReg*"    IOB = true;
INST "*RXdvDelayReg"   IOB = true;

INST "GMII_TXD_0<?>"     IOSTANDARD = LVCMOS33;
INST "GMII_TX_EN_0"      IOSTANDARD = LVCMOS33;
INST "GMII_TX_ER_0"      IOSTANDARD = LVCMOS33;

INST "GMII_RXD_0<?>"     IOSTANDARD = LVCMOS25;
INST "GMII_RX_DV_0"      IOSTANDARD = LVCMOS25;

INST "GMII_TX_CLK_0"     IOSTANDARD = LVCMOS25;
INST "GMII_RX_CLK_0"     IOSTANDARD = LVCMOS25;

INST "GMII_RESET_B"      IOSTANDARD = LVCMOS25;

# Start of Constraints extracted by Floorplanner from the Design
#NET "WE" LOC = "K29" ;
#NET "TxD" LOC = "AG20" ;
#NET "RxD" LOC = "AG15" ;
#NET "RS<1>" LOC = "J29" ;
#NET "RS<0>" LOC = "L29" ;
#NET "RAS" LOC = "H30" ;
#NET "ODT<1>" LOC = "F30" ;
#NET "ODT<0>" LOC = "F31" ;
NET "GMII_TX_ER_0" LOC = "AJ9" ;
NET "GMII_TX_EN_0" LOC = "AJ10" ;
NET "GMII_TX_CLK_0" LOC = "J16" ;
NET "GMII_TXD_0<7>" LOC = "AG11" ;
NET "GMII_TXD_0<6>" LOC = "AG10" ;
NET "GMII_TXD_0<5>" LOC = "AH8" ;
NET "GMII_TXD_0<4>" LOC = "AG8" ;
NET "GMII_TXD_0<3>" LOC = "AH10" ;
NET "GMII_TXD_0<2>" LOC = "AH9" ;
NET "GMII_TXD_0<1>" LOC = "AE11" ;
NET "GMII_TXD_0<0>" LOC = "AF11" ;
NET "GMII_RX_DV_0" LOC = "E32" ;
NET "GMII_RX_CLK_0" LOC = "H17" ;
NET "GMII_RXD_0<7>" LOC = "F33" ;
NET "GMII_RXD_0<6>" LOC = "D34" ;
NET "GMII_RXD_0<5>" LOC = "C34" ;
NET "GMII_RXD_0<4>" LOC = "D32" ;
NET "GMII_RXD_0<3>" LOC = "C32" ;
NET "GMII_RXD_0<2>" LOC = "C33" ;
NET "GMII_RXD_0<1>" LOC = "B33" ;
NET "GMII_RXD_0<0>" LOC = "A33" ;
NET "GMII_RESET_B" LOC = "J14" ;
#NET "FPGAreset" LOC = "E9" ;
#NET "DQS_L<7>" LOC = "H27" ;
#NET "DQS_L<6>" LOC = "G28" ;
#NET "DQS_L<5>" LOC = "E27" ;
#NET "DQS_L<4>" LOC = "Y29" ;
#NET "DQS_L<3>" LOC = "AA31" ;
#NET "DQS_L<2>" LOC = "AJ27" ;
#NET "DQS_L<1>" LOC = "AK27" ;
#NET "DQS_L<0>" LOC = "AA30" ;
#NET "DQS<7>" LOC = "G27" ;
#NET "DQS<6>" LOC = "H28" ;
#NET "DQS<5>" LOC = "E26" ;
#NET "DQS<4>" LOC = "Y28" ;
#NET "DQS<3>" LOC = "AB31" ;
#NET "DQS<2>" LOC = "AK26" ;
#NET "DQS<1>" LOC = "AK28" ;
#NET "DQS<0>" LOC = "AA29" ;
#NET "DQ<63>" LOC = "L24" ;
#NET "DQ<62>" LOC = "L25" ;
#NET "DQ<61>" LOC = "M25" ;
#NET "DQ<60>" LOC = "J27" ;
#NET "DQ<59>" LOC = "L26" ;
#NET "DQ<58>" LOC = "J24" ;
#NET "DQ<57>" LOC = "M26" ;
#NET "DQ<56>" LOC = "G25" ;
#NET "DQ<55>" LOC = "G26" ;
#NET "DQ<54>" LOC = "H24" ;
#NET "DQ<53>" LOC = "K28" ;
#NET "DQ<52>" LOC = "K27" ;
#NET "DQ<51>" LOC = "H25" ;
#NET "DQ<50>" LOC = "F25" ;
#NET "DQ<49>" LOC = "L28" ;
#NET "DQ<48>" LOC = "M28" ;
#NET "DQ<47>" LOC = "N28" ;
#NET "DQ<46>" LOC = "P27" ;
#NET "DQ<45>" LOC = "N25" ;
#NET "DQ<44>" LOC = "T24" ;
#NET "DQ<43>" LOC = "P26" ;
#NET "DQ<42>" LOC = "N24" ;
#NET "DQ<41>" LOC = "P25" ;
#NET "DQ<40>" LOC = "R24" ;
#NET "DQ<39>" LOC = "V24" ;
#NET "DQ<38>" LOC = "W26" ;
#NET "DQ<37>" LOC = "W25" ;
#NET "DQ<36>" LOC = "V28" ;
#NET "DQ<35>" LOC = "W24" ;
#NET "DQ<34>" LOC = "Y26" ;
#NET "DQ<33>" LOC = "Y27" ;
#NET "DQ<32>" LOC = "V29" ;
#NET "DQ<31>" LOC = "W27" ;
#NET "DQ<30>" LOC = "V27" ;
#NET "DQ<29>" LOC = "W29" ;
#NET "DQ<28>" LOC = "AC30" ;
#NET "DQ<27>" LOC = "V30" ;
#NET "DQ<26>" LOC = "W31" ;
#NET "DQ<25>" LOC = "AB30" ;
#NET "DQ<24>" LOC = "AC29" ;
#NET "DQ<23>" LOC = "AA25" ;
#NET "DQ<22>" LOC = "AB27" ;
#NET "DQ<21>" LOC = "AA24" ;
#NET "DQ<20>" LOC = "AB26" ;
#NET "DQ<19>" LOC = "AA26" ;
#NET "DQ<18>" LOC = "AC27" ;
#NET "DQ<17>" LOC = "AB25" ;
#NET "DQ<16>" LOC = "AC28" ;
#NET "DQ<15>" LOC = "AB28" ;
#NET "DQ<14>" LOC = "AG28" ;
#NET "DQ<13>" LOC = "AJ26" ;
#NET "DQ<12>" LOC = "AG25" ;
#NET "DQ<11>" LOC = "AA28" ;
#NET "DQ<10>" LOC = "AH28" ;
#NET "DQ<9>" LOC = "AF28" ;
#NET "DQ<8>" LOC = "AH27" ;
#NET "DQ<7>" LOC = "AE29" ;
#NET "DQ<6>" LOC = "AD29" ;
#NET "DQ<5>" LOC = "AF29" ;
#NET "DQ<4>" LOC = "AJ30" ;
#NET "DQ<3>" LOC = "AD30" ;
#NET "DQ<2>" LOC = "AF31" ;
#NET "DQ<1>" LOC = "AK31" ;
#NET "DQ<0>" LOC = "AF30" ;
#NET "DM<7>" LOC = "J25" ;
#NET "DM<6>" LOC = "F26" ;
#NET "DM<5>" LOC = "P24" ;
#NET "DM<4>" LOC = "V25" ;
#NET "DM<3>" LOC = "Y31" ;
#NET "DM<2>" LOC = "Y24" ;
#NET "DM<1>" LOC = "AE28" ;
#NET "DM<0>" LOC = "AJ31" ;
#NET "DIMMCKL<1>" LOC = "F28" ;
#NET "DIMMCKL<0>" LOC = "AJ29" ;
#NET "DIMMCK<1>" LOC = "E28" ;
#NET "DIMMCK<0>" LOC = "AK29" ;
#NET "ClkEn<1>" LOC = "U30" ;
#NET "ClkEn<0>" LOC = "T28" ;
#NET "CLKBP" LOC = "L19" ;
#NET "CLKBN" LOC = "K19" ;
#NET "CAS" LOC = "E31" ;
#NET "BA<2>" LOC = "R31" ;
#NET "BA<1>" LOC = "J30" ;
#NET "BA<0>" LOC = "G31" ;
#NET "A<13>" LOC = "H29" ;
#NET "A<12>" LOC = "T31" ;
#NET "A<11>" LOC = "R29" ;
#NET "A<10>" LOC = "J31" ;
#NET "A<9>" LOC = "R28" ;
#NET "A<8>" LOC = "M31" ;
#NET "A<7>" LOC = "P30" ;
#NET "A<6>" LOC = "P31" ;
#NET "A<5>" LOC = "L31" ;
#NET "A<4>" LOC = "K31" ;
#NET "A<3>" LOC = "P29" ;
#NET "A<2>" LOC = "N29" ;
#NET "A<1>" LOC = "M30" ;
#NET "A<0>" LOC = "L30" ;
